/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900
*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&display=swap');

html {
    font-size: 12px;
    font-family: 'Kaisei HarunoUmi', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
    color: #657b83;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #cb4b16;
}
.quarter {
    height: 25vh;
    position: relative;
}
.third {
    height: 33.3vh;
    position: relative;
}
.half {
    height: 50vh;
    position: relative;
}
.full {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}
.center {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navbar {
    display: inline-flex;
    align-items: center;
    background-color: #eee8d5;
    color: #073642;
    position: fixed;
    font-size: 1.2rem;
    font-weight: 700;
    top: 0;
    width: 100vw;
    z-index: 7;
    border-bottom: 1px solid #cb4b16;;
}
.navbar li {
    display: inline-block;
    padding: 1vh 2vw;
    border-radius: 1vh;
    transition: background-color 200ms ease-in 50ms;
}
.navbar li:hover {
    background-color: #cb4b16;
}
.navbar li:hover a{
    color: #eee8d5;
}

#offset {
    height: 7vh;
    width: 100%;
}
#first-post {
    height: 93vh;
}
#hover {
    animation: bounce 2s infinite ease-in-out;
}
#hoverbox {
    margin: 0;
    /*border: 3px solid red;*/
}
#image_me {
    width: 20vw;
}
@keyframes bounce{
    0%   { transform: rotate(-90deg) scale(1,1)      translateX(0);     }
    25%  { transform: rotate(-90deg) scale(.9,1.1)   translateX(0);     }
    40%  { transform: rotate(-90deg) scale(1.1,.9)   translateX(-0.3vh);  }
    58%  { transform: rotate(-90deg) scale(.95,1.05) translateX(0);     }
    70%  { transform: rotate(-90deg) scale(1,1)      translateX(-.1vh); }
    84%  { transform: rotate(-90deg) scale(1,1)      translateX(0);     }
    100% { transform: rotate(-90deg) scale(1,1)      translateX(0);     }
}
#smile{
    font-size: 5rem;
    white-space: nowrap;
    line-height: 8vh;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    transition: all 0.5s;
}
#hoverbox:hover #text1 {
    opacity: 1;
}
.logo {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    animation: bounce 2s infinite ease-in-out;
    padding: 0.5vh 2vw;
    color: #cb4b16;
}
#banner {
    background-color: #eee8d5;
    color: #073642;
    margin-top: 1vh;
    text-align: center;
    padding: 1vh 0;
}

#banner_kopf{
    height: 15vh;
}

header>h1 {
    z-index: 8;
}

/* Solar System */

#view {
    display: flex;
    flex-flow: nowrap;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 92%;
}

#adam {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
}

#adam>object {
    fill: black;
    height: 100px;
    width: 400px;
}

#canvas {
    position: relative;
    width: 100%;
    transition: width 2s;
}

#setting-link {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 1.3rem;
    width: fit-content;
    z-index: 10;
    opacity: 0.5;
    transition: 200ms ease-in-out;
}

#setting-link:hover {
    opacity: 1;
}

#settings {
    width: 30%;
    display: inline-flex;
    flex-flow: column;
    padding: 2.5rem 1.5rem;
    padding-bottom: 1.2rem;
    transition: right 2000ms, ease-in;
    font-size: 1.2vw;
}

@media screen and (max-width: 800px) {
    #settings {
        position: absolute;
        height: 60%;
        width: 90%;
        font-size: 2.5vw;
        flex-flow: column wrap;
    }
    #settings>* {
        width: 45%;
        height: auto;
    }
}

#settings>* {
    background-color: #002b36;
    color: #93a1a1;
    width: calc(100%-4vw);
    height: (100%/3);
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    z-index: 5;
}

#settings h3 {
    font-size: 1.2em;
}

#planet-settings {
    overflow-y: scroll;
    height: 70%;
}

#planet-settings table img {
    width: 1.8em;
    height: auto;
    filter: invert(100%);
}

#planet-settings tr>* {
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 1vh 1vw;
}

#canvas-settings {
    display: flex;
    flex-flow: column nowrap;
}

#settings>*>* {
    padding-bottom: 1rem;
    vertical-align: middle;
}

#settings>*>*>p {
    vertical-align: middle;
    display: inline-block;
}

#canvas-settings>*>* {
    display: inline-block;
    vertical-align: middle;
}

#canvas-settings>div {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
}

#canvas-settings a {
    color: #93a1a1;
}

#speed-settings {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 0;
    margin-bottom: 0;
}

#speed-settings>*>* {
    display: inline-block;
}
#speed-settings>div {
    display: inline-flex;
    justify-content: space-between;
}

#speed-settings a {
    color: #93a1a1;
}

#settings form>input[type="text"] {
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#settings form>input[type="button"] {
    width: fit-content;
    height: 2em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#timeline {
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    color: #93a1a1;
}

#timeline>* {
    background-color: #002b36;
    /*margin-right: 2vw;*/
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 5;
}

#timeline a {
    color: #93a1a1;
}

#timeline form>input[type="date"] {
    width: 10rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#timeline-slider {
    width: 60%;
    height: 2rem;
}

#play-button {
    transition: all ease-in-out 100ms;
}

#play-button:hover {
    color: white;
}

#date-range {
    -webkit-appearance: auto;
    align-content: right;
    width: 94%;
    margin-left: 0.7rem;
    opacity: 0.5;
    transition: ease-in-out 100ms;
    background: #586e75;
}

#date-range:hover {
    opacity: 1;
}

#date-range::-webkit-slider-thumb {
    -webkit-appearance: auto;
    appearance: none;
    width: 0.3rem;
    height: 2rem;
    background: #04AA6D;
    cursor: pointer;
}

#datebox {
    width: 20%;
    height: 2rem;
}

#days {
    width: 20%;
    height: 2rem;
}

#solarsystem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 2rem;
    background-color: rgb(252, 227, 0);
    border-radius: 50%;
}

#solarsystem canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: royalblue 1px solid;
    width: 600px;
    height: 600px;
}

#sol-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.6rem;
    height: auto;
}

#solarsystem>.planet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.4rem;
    height: auto;
}

#solarsystem>.planet p {
    padding-bottom: 2.2rem;
    padding-left: 2.2rem;
    font-size: 1.5rem;
}

#solarsystem #moon>p {
    position: absolute;
    left: 1rem;
    top: 0.7rem;
    font-size: 1rem;
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: black;
}

.planet#sun {
    background-color: #268bd2;
}

.planet#moon {
    background-color: #93a1a1;
    visibility: visible;
}

.planet#mercury {
    background-color: #cb4b16;
}

.planet#venus {
    background-color: #d33682;
}

.planet#mars {
    background-color: #dc322f;
}

.planet#jupiter {
    background-color: #b58900;
}

.planet#saturn {
    background-color: #859900;
}

.planet#uranus {
    background-color: #2aa198;
}

.planet#neptune {
    background-color: #6c71c4;
}

#mercury-setting th, #mercury-setting a {
    color: #cb4b16;
}

#venus-setting th, #venus-setting a {
    color: #d33682;
}

#sun-setting th, #sun-setting a {
    color: #268bd2;
}

#moon-setting th, #moon-setting a {
    color: #93a1a1;
}

#mars-setting th, #mars-setting a {
    color: #dc322f;
}

#jupiter-setting th, #jupiter-setting a {
    color: #b58900;
}

#saturn-setting th, #saturn-setting a {
    color: #859900;
}

#uranus-setting th, #uranus-setting a {
    color: #2aa198;
}

#neptune-setting th, #neptune-setting a {
    color: #6c71c4;
}