/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900
*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&display=swap');

html {
    font-size: 1.35vh;
    font-family: 'Kaisei HarunoUmi', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
    color: #657b83;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #002b36;
}
.quarter {
    height: 25vh;
    position: relative;
}
.third {
    height: 33.3vh;
    position: relative;
}
.half {
    height: 50vh;
    position: relative;
}
.full {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}
.first-post {
    height: 90vh;
}
.center {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Navbar */

.navbar {
    display: inline-flex;
    flex-flow: nowrap;
    align-items: center;
    background-color: #eee8d5;
    color: #073642;
    position: fixed;
    font-size: 1.5rem;
    font-weight: 700;
    top: 0;
    width: 100vw;
    height: 10vh;
    z-index: 7;
    border-bottom: 1px solid #002b36;
}

.navbar>ul {
    width: 100%;
}

.navbar li {
    display: inline-flex;
    flex-flow: nowrap;
    padding: 1vh 2vw;
    border-radius: 1vh;
    transition: background-color 400ms ease-in-out;
}

.navbar-hover {
    background-color: #002b36;
    cursor: pointer;
}

.navbar-hover p, .navbar-hover i {
    color: #eee8d5;
}

#socials {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    width: 10rem;
    height: 1.2rem;
}

#socials>* {
    display: none;
}

#offset {
    height: 10vh;
    width: 100%;
}

.logo {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5vh 2vw;
    /* filter: invert(53%) sepia(22%) saturate(1305%) hue-rotate(199deg) brightness(82%) contrast(84%); */
}

.logo:hover {
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce{
    0%   { transform: scale(1,1)      translateX(0);     }
    25%  { transform: scale(.9,1.1)   translateX(0);     }
    40%  { transform: scale(1.1,.9)   translateX(-0.3vh);}
    58%  { transform: scale(.95,1.05) translateX(0);     }
    70%  { transform: scale(1,1)      translateX(-.1vh); }
    84%  { transform: scale(1,1)      translateX(0);     }
    100% { transform: scale(1,1)      translateX(0);     }
}

/* Solar System */

/* Settings */

#credit {
    position: absolute;
    float: left;
    display: flex;
    flex-flow: nowrap;
    width: fit-content;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    opacity: 0.3;
    transition: opacity 100ms;
}

#credit:hover {
    opacity: 1;
}

#credit>p {
    padding: 0 0.2rem;
}

#settings-btn {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 1.3rem;
    width: fit-content;
    z-index: 10;
    opacity: 0.5;
}

#settings {
    width: fit-content;
    min-width: 300px;
    height: 100%;
    display: inline-flex;
    float: right;
    flex-flow: column;
    padding: 2.5rem 1.5rem;
    padding-bottom: 0rem;
    transition: right 2000ms, ease-in;
    font-size: 1.2em;
    line-height: 1.2em;
}

.btn {
    cursor: pointer;
    opacity: 0.7;
    transition: all 200ms ease-in-out;
}

.btn-hover {
    opacity: 1;
    font-size: 1.2em;
}

#settings>* {
    background-color: #002b36;
    color: #93a1a1;
    width: calc(100%-4vw);
    height: (100%/3);
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    z-index: 5;
}

#settings h3 {
    font-size: 1.2em;
}

#planet-settings {
    overflow-y: scroll;
    height: 70%;
}

#planet-settings tr>* {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 1vh 1vw;
}

#canvas-settings {
    display: flex;
    flex-flow: column nowrap;
}

#settings>*>* {
    padding-bottom: 1rem;
    vertical-align: middle;
}

#settings>*>*>p {
    vertical-align: middle;
    display: inline-block;
}

#canvas-settings>*>* {
    display: inline-block;
    vertical-align: middle;
}

#canvas-settings>div {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
}

#canvas-settings a {
    color: #93a1a1;
}

#speed-settings {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 0;
    margin-bottom: 0;
}

#speed-settings>*>* {
    display: inline-block;
}
#speed-settings>div {
    display: inline-flex;
    justify-content: space-between;
}

#speed-settings a {
    color: #93a1a1;
}

#settings form>input[type="text"] {
    width: 3em;
    height: 1.2em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#settings form>input[type="button"] {
    width: fit-content;
    height: 2em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#timeline {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    color: #93a1a1;
}

#timeline>* {
    background-color: #002b36;
    /*margin-right: 2vw;*/
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 5;
}

#timeline a {
    color: #93a1a1;
}

#timeline form>input[type="date"] {
    width: 10rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Kaisei HarunoUmi', serif;
    background-color: #fdf6e3;
}

#timeline-slider {
    width: 80%;
    height: 2rem;
}

#play-button {
    transition: all ease-in-out 100ms;
}

#play-button:hover {
    color: white;
}

#date-range {
    -webkit-appearance: auto;
    align-content: right;
    width: 94%;
    margin-left: 0.7rem;
    opacity: 0.5;
    transition: ease-in-out 100ms;
    background: #586e75;
}

#date-range:hover {
    opacity: 1;
}

#date-range::-webkit-slider-thumb {
    -webkit-appearance: auto;
    appearance: none;
    width: 0.3rem;
    height: 2rem;
    background: #04AA6D;
    cursor: pointer;
}

#datebox {
    justify-content: space-evenly;
    width: 20%;
    height: 2rem;
}